  
.logo-bg
  position fixed
  right -165%
  top 0px
  width 240%
  height auto
  z-index -1
#inicio
  h1
    text-align left

  h2
    text-align left
    width 80%
  
  .flex-column 
    .btn
      width fit-content
      margin 0

@media only screen and (min-width:60em)

  .home-content
    padding-top 0.5rem

    h1
      font-size 4rem
      
  .logo-bg
    right -90%
    width 160%

  .title-home
    width 70%