@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.digit
  margin-left auto
  text-decoration none
  display flex
  span
    color #fff
    font-family Inconsolata
    height fit-content
    align-self center
    transition all 200ms cubic-bezier(.57,.21,.69,0.65)

    &:hover
      color #00FFFF
      transform scale(1.1)
  