#conocenos
  p
    text-align center

  .bg-work
    display flex
    height 100%
    align-content center

  .bg-work img
    height 80%
    width 100%
    box-shadow 0 3px 6px rgba(0,0,0,0.4)

@media only screen and (min-width: 60em)

  #conocenos
    h2
    h3
    p
      width 80%
      text-align left



    .bg-work img
      height 80%
      width 100%
      box-shadow 0 3px 6px rgba(0,0,0,0.4)