button 
  width 80%
  margin auto
  display block

h2.title
  text-align center

@media only screen and (min-width:60em)
  button  
    width content-fill

  h2.title
    text-align left
    width 80%