.consulting-item
  .title
    font-size calc(1.2em + 1vw)
    text-align center
  
  p
    font-size calc(0.7em + 1vw)
    text-align center


@media only screen and (min-width:60em)
  .consulting-item
    .title
      font-size calc(0.6em + 1vw)
      text-align left
    
    p
      font-size calc(0.05em + 1vw)
      text-align left