.navbar 
  position fixed
  top 0
  display flex
  width 100%
  background #fff
  z-index 999
  box-shadow 0px 3px 6px rgba(0,0,0,0.16)
  transform translateY(0px)
  transition all 200ms cubic-bezier(.57,.21,.69,0.65)
  .col-12
    display flex

  .logo
    width 32%
    height auto
    display flex
    align-self center
    justify-self center
    padding-bottom 0
    

    svg
      width: 100%;

  .nav-content-right
    margin-left auto
    display inline-block

    ul
      display flex
      column-gap 1.2em
      margin 0
      height 100%

      li
        list-style none
        display flex
        align-self center
        a
          font-weight 300
          text-decoration none
          transition font-weight 300ms cubic-bezier(.57,.21,.69,0.65)
          &:hover
          &:active
            font-weight 600

  .menu-icon
    cursor pointer
    padding 1em 0

  .bar1 
  .bar2 
  .bar3 
    width 30px
    height 4px
    background-color #333
    margin 6px 0
    transition 0.4s
    border-radius 30px
    box-shadow 1px 1px 3px rgba(0,0,0,0.2)

  .bar1
    width 15px
    margin-left auto

  .bar3
    width 15px
  /* Rotate first bar */
  .change .bar1 
    -webkit-transform rotate(-45deg) translate(-9px, 6px) 
    transform rotate(-45deg) translate(-9px, 6px) 


  /* Fade out the second bar */
  .change .bar2 
    opacity 0

  /* Rotate last bar */
  .change .bar3 
    -webkit-transform rotate(45deg) translate(-8px, -8px)
    transform rotate(45deg) translate(-8px, -8px) 

.navbar-hidden
  transform translateY(-10em)

@media only screen and (min-width:33.75em)
  .navbar 
    .logo
      width 12%
      padding 0.5em 0