.contact-info
  margin-top auto
  margin-bottom 2em
  display none

  .social-icons
    margin-left auto
    .icon
      svg
        width 20px
        height auto

        
@media only screen and (min-width: 60em)
  .contact-info
    display flex