.email-icons
  display flex
  column-gap 2em
  row-gap 2em
  margin-top auto
  .icon
    svg
      width 20px
      height auto
      margin-right 0.5em

    span
      font-size 0.9rem

.color-white
  .icon
    a
      text-decoration none
    svg
      path 
        fill #fff
    
    span 
      color #fff
      